/*
colors:
peach: #FF9E95
light blue: #ABFFF8
lavender: #AB92E8
brown: #5B533B
green blue light: #BBFFB8
*/
body {
    background-color: none;
    color:#AB92E8;
}

#header {
    width:100%;
    background-color:none;
    min-height: 80px;
}

#header >h1 {
    margin:0;
    text-align: center;
    font-family:'lato', sans-serif;
    position: relative;
    transform:translateY(50%);
}

#nav {
    width:100%;
    background-color:#AB92E8;
    min-height: 80px;
    font-family:'lato', sans-serif;
    height: auto;
}
#nav > ul {
    text-align: center;
    padding: 0;
    margin: 0;
    transform: translateY(50%);
    
}
.menu{
    display:flex;
    background-color:#d7e6f;
    justify-content:space-around;
    list-style-type:none;
    margin:0;
}

#middle-wrapper{
    display:flex;
}

#main-content-wrapper {
    background-color:greenyellow;
    width: 80%;
}

#aside-content-wrapper{
    background-color:plum;
    width:20%;
}

footer{
    background-color:black;
    margin:0;   
}

footer >h1 {
    margin:0;
}

